h3 {
  color: var(--color-secondary-main);
  line-height: 3.25rem;
  font-size: 1.8rem;
  margin-bottom: 0;
  text-align: right;
}

p.smallText {
  margin-top: 0;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-align: right;
}

.callOutBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  align-items: center;
}

.callOutGraphic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 27, 36, 0.44), rgba(44, 49, 60, 0.44));
  min-width: 180px;
  border-radius: 1rem;
  padding: 1.75rem 0;
  margin-left: 2rem;
}

.bigBlueText {
  font-size: 2.25rem;
  line-height: 3.25rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: var(--color-secondary-main);
}

.callOutGraphicDescription {
  margin: 0;
  text-align: center;
}
