.pokt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 72px;
  /* move color to mantine: var(--mantine-color-blue-9) */
  background-color: rgb(25, 36, 48);
  color: white;
}

.pokt-header-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pokt-header-branding {
  flex-grow: 0;
}

.pokt-header-brand {
  height: 2rem;
  object-fit: contain;
}

.pokt-header-actions {
  flex-grow: 1;
}

.pokt-header-actions.mobile {
  display: none;
}

.pokt-header-nav {
  flex-grow: 1;
  white-space: nowrap;
}
.pokt-header-nav.nav-right {
  justify-content: end;
}

.dropdown-user-menu__content {
  width: 220px;
}

.dropdown-user-menu__content button {
  border: none;
  color: var(--color-white-light);
  padding: 0;
}

/* START: MOBILE DRAWER MENU */
.pokt-aside-menu {
  position: absolute;
  width: 300px;
  top: 88px;
  bottom: 0;
  right: -300px;
  padding: 16px;
  background: var(--mantine-color-navy-4);
  box-sizing: border-box;
  transition: right ease-in-out 0.3s;
  z-index: 99999;
}

.pokt-aside-menu.open {
  right: 0px;
}

.pokt-aside-menu .pokt-header-nav {
  justify-content: start;
}

.pokt-aside-menu .pokt-header-nav nav {
  width: 100%;
  margin: 16px 0 32px;
}

.pokt-aside-menu .pokt-header-nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pokt-aside-menu .pokt-header-nav nav ul .nav-link {
  display: block;
}

/* END: MOBILE DRAWER MENU */

@media (min-width: 991px) {
  .pokt-header-actions.mobile {
    display: flex;
  }
  .pokt-aside-menu {
    display: none;
  }
}
