.pokt-landing-social .social-list {
  padding: 0;
  list-style-type: none;
}

.pokt-landing-social .social-list li:not(:last-child) {
  border-bottom: 1px solid var(--color-disabled-dark);
}

.pokt-landing-social .social-link {
  padding: 16px 0;
  display: block;
}

.pokt-landing-social .social-link .social-handle {
  color: var(----color-black-light);
}
