.pokt-legacy-banner .pokt-card {
  border: 1px solid var(--mantine-color-blue-4);
  transition: padding ease-in-out 0.3s;
}

.pokt-legacy-banner:not(.show) .pokt-card {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pokt-legacy-banner:not(.show) .pokt-card-header {
  margin-bottom: 0;
}

.pokt-legacy-banner .pokt-link {
  color: var(--mantine-color-green-6);
}
