.admin-nav {
  list-style-type: none;
  padding-left: 0;
}

.admin-nav .nav-link {
  display: block;
  padding: 8px;
}

.admin-nav .nav-link-active {
  color: var(--color-primary-main);
}

.admin-nav .nav-link-active:hover {
  color: var(--color-primary-dark);
}
