.create-application form {
  margin-bottom: 32px;
}

.create-application button[type="submit"] {
  float: right;
  width: 378px;
}

.create-application .termsOfUseText {
  margin-top: 48px;
  text-align: right;
}

.create-application .termsOfUseText a {
  color: var(--color-primary-main);
}
