.pokt-network-user-profile .mantine-TextInput-root {
  margin: 16px 0;
}

.pokt-network-user-profile label {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white-light);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.pokt-network-user-profile input {
  font-size: 16px;
  color: #aaaaaa;
  background: transparent;
  border: 1px solid var(--color-white-light);
}

.pokt-network-user-profile input:focus {
  border: 1px solid var(--color-white-light);
}
