.security div.card {
  background: rgb(25, 36, 48);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.security div.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.security div.flexGrowRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-top: 2rem;
}

.security input.grow {
  flex-grow: 1;
}

.security p.growInline {
  display: inline-block;
  flex-grow: 1;
}
