.pokt-network-user-profile .mantine-TextInput-root {
  margin: 16px 0;
}

.pokt-network-user-profile .pokt-network-user-profile-img {
  border-radius: 50%;
}

.pokt-network-user-profile label {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white-light);
  display: flex;
  align-items: center;
}

.pokt-network-user-profile input {
  font-size: 16px;
  color: #aaaaaa;
}

.pokt-network-user-profile label img {
  margin-right: 8px;
}
