h1.pokt-title {
  font-weight: 200;
  font-size: 4rem;
}

h2.pokt-title {
  font-weight: 300;
  font-size: 3rem;
}

.pokt-landing-header {
  margin-bottom: 48px;
}

.pokt-pre-title {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 5px;
}
