:root {
  --color-primary-main: #c5ec4b;
  --color-primary-light: #dcfc77;
  --color-primary-dark: #89a534;
  --color-secondary-main: #1d8aed;
  --color-secondary-light: #41a1fc;
  --color-secondary-dark: #156dc0;
  --color-black-main: #192430;
  --color-black-light: #262a34;
  --color-black-dark: #0f141a;
  --color-white-main: #edeff0;
  --color-white-light: #ffffff;
  --color-white-dark: #d9d9d9;
  --color-success: #03e200;
  --color-error: #e61c0e;
  --color-disabled: #898d92;
  --color-disabled-dark: #32404f;
  --color-warning: #ffb82e;
  --zindex-none: -1;
  --zindex-base: 1;
  --zindex-nav: 100;
  --zindex-overlay: 200;
  --radii-md: 12px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Manrope";
  background-color: var(--color-black-dark);
  color: var(--color-white-main);
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 16px;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 24px;
}

.pokt-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
