:root {
  /* --color-primary-main: #c5ec4b;
  --color-primary-light: #dcfc77;
  --color-primary-dark: #89a534;
  --color-secondary-main: #1d8aed;
  --mantine-color-blue-4: #41a1fc;
  --mantine-color-blue-8: #156dc0;
  --mantine-color-navy-4: #192430;
  --mantine-color-navy-3: #262a34;
  --mantine-color-navy-6: #0f141a;
  --mantine-color-gray-2: #edeff0;
  --mantine-color-gray-0: #ffffff;
  --mantine-color-gray-4: #d9d9d9;
  --mantine-color-yellow-6: #03e200;
  --color-error: #e61c0e;
  --mantine-color-gray-6: #898d92;
  --mantine-color-gray-8: #32404f;
  --mantine-color-orange-6: #ffb82e; */
  --zindex-none: -1;
  --zindex-base: 1;
  --zindex-nav: 100;
  --zindex-overlay: 200;
  --radii-md: 12px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Manrope";
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 16px;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 24px;
}

.pokt-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

button.pokt-button-with__icon,
button.pokt-button-with__icon:hover {
  border: none;
  background-color: transparent;
  padding: 0;
}
