.pokt-validate .pokt-button {
  margin-top: 16px;
}

.pokt-validate__content {
  max-width: 604px;
}

.pokt-validate__logo {
  max-width: 480px;
}

.pokt-validate__title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
}

.pokt-validate__description {
  max-width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--mantine-color-gray-6);
}

.pokt-validate__button {
  margin-top: 32px;
}

.pokt-validate img {
  width: 100%;
}
