.confirmation-modal {
  visibility: hidden;
  opacity: 0;
}

.confirmation-modal.active {
  visibility: visible;
  opacity: 1;
}

.confirmation-modal {
  position: fixed;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 429px;
  max-height: 250px;
  z-index: 2147483648;
  transition: all 0.225s linear;
  background-color: #192430;
}

.confirmation-modal-blur {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.225s linear;
  z-index: 1;
}

.confirmation-modal-blur.active {
  visibility: visible;
  opacity: 1;
}

.confirmation-modal-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 44px;
  background: #192430;
}

.confirmation-modal .close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.confirmation-modal-options {
  display: flex;
  column-gap: 2em;
}

.confirmation-modal-options button {
  padding: 14px 56.5px;
  font-weight: normal;
  border-radius: 8px;
  width: 182px;
  height: 52px;
}

.confirmation-modal-title,
.confirmation-modal-description {
  max-width: 285px;
  line-height: 110%;
}

.confirmation-modal-options #cancel {
  border: 1px solid #fafafa;
}
