.pokt-dropdown-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 8px;
  border: 1px solid var(--color-primary-main);
  border-radius: 4px;
  color: var(--color-white-main);
}

.pokt-dropdown-trigger:focus-visible {
  outline: none;
}

.pokt-dropdown-content {
  margin-top: 8px;
  padding: 16px;
  background-color: var(--color-black-main);
  border: 1px solid var(--color-primary-main);
  border-radius: 4px;
}
