.pokt-modal [role="dialog"] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-navy-4);
  padding: 32px;
  border-radius: 8px;
}

.pokt-modal .mantine-Modal-header {
  margin-bottom: 24px;
}

.pokt-modal .mantine-Modal-title {
  font-size: 18px;
  font-weight: 700;
}

.pokt-modal .mantine-Modal-header button {
  color: var(--mantine-color-blue-6);
}

.pokt-modal .mantine-Modal-header button:hover {
  color: var(--mantine-color-white);
  background-color: transparent;
  border: 1px solid var(--mantine-color-white);
}

.pokt-modal .pokt-modal-cta {
  margin-top: 40px;
}
