.feedback .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback .openclosebutton {
  background-color: transparent;
  border: 1px solid #c5ec4b;
  width: 32px;
  height: 32px;
  color: #c5ec4b;
  border-radius: 4px;
  padding-bottom: 5px;
  font-weight: bold;
  padding: 3px;
}

.feedback .image {
  margin-right: 8px;
  padding-top: 5px;
}

.feedback .spaceholder {
  min-width: 24px;
}

.feedback .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.feedback .bodytext {
  font-size: 0.825rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
}

.feedback .bodytext.error {
  color: var(--mantine-color-red-6);
  padding-top: "8px";
}

.feedback .textarea {
  width: 100%;
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  min-height: calc(5 * 16px);
  color: var(--mantine-color-gray-0);
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--mantine-color-white);
  resize: vertical;
}

.feedback .textarea::placeholder {
  color: var(--mantine-color-navy-4);
}

.feedback .textarea::-webkit-resizer {
  background: url("/resizer.svg");
}

.feedback .submit {
  background: var(--mantine-color-green-6);
  border-radius: 8px;
  border: none;
  height: 40px;
  width: 100px;
  align-self: flex-end;
  font-weight: 600;
  font-size: 0.825rem;
  color: var(--mantine-color-navy-4);
}

.feedback .row {
  display: flex;
  flex-direction: row;
}

.feedback .form {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.animatedBox {
  transition: max-height 1s ease-in-out;
  overflow: hidden;
  max-height: 0px;
}

.animatedBox.true {
  max-height: 5000px;
}

.feedback a.discord-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}
