.pokt-chart-wrapper {
  position: relative;
}
.pokt-chart-overlay {
  position: absolute;
  width: 90%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 32px;
  /* color: var(--mantine-color-gray-6); */
  border-radius: 16px;
  text-align: center;
}

.pokt-chart-relays.empty text {
  /* fill: var(--mantine-color-gray-6); */
}
