.pokt-chain-with-image {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding-right: 4px;
}

.pokt-chain-with-image img {
  max-height: 16px;
}
.pokt-chain-with-image p {
  margin: 0;
}
