.pokt-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.pokt-text-input {
  flex-grow: 1;
  margin-bottom: 0;
}

.pokt-text-input input {
  margin-bottom: 0;
  padding: 8px;
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-navy-6);
  border: 1px solid var(--mantine-color-navy-4);
  border-radius: 4px;
  font-size: 0.75rem;
}

.pokt-text-input.right-section input {
  padding-right: 64px;
}

.pokt-text-input label {
  color: var(--mantine-color-white);
}

.pokt-text-input .pokt-text-input-copy {
  width: 18px;
  height: 18px;
  color: var(--mantine-color-blue-6);
  cursor: pointer;
}

.pokt-text-input svg {
  background-color: var(--mantine-color-navy-6);
}

.pokt-text-input .pokt-text-input-copy svg {
  width: 18px;
  height: 18px;
}

.pokt-text-delete {
  padding: 0 8px;
}

.pokt-text-delete svg {
  width: 18px;
  height: 18px;
}

.pokt-text-input .mantine-TextInput-rightSection {
  width: unset;
  margin-right: 12px;
}
