.pokt-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.pokt-text-input {
  flex-grow: 1;
  margin-bottom: 0;
}

.pokt-text-input input {
  margin-bottom: 0;
  padding: 8px;
  color: var(--color-white-main);
  background-color: var(--color-black-dark);
  border: 1px solid var(--color-black-light);
  border-radius: 4px;
  font-size: 0.75rem;
}
.pokt-text-input.right-section input {
  padding-right: 32px;
}

.pokt-text-input label {
  color: var(--color-white-main);
}

.pokt-text-input .pokt-text-input-copy {
  width: 20px;
  height: 20px;
  color: var(--color-secondary-main);
  cursor: pointer;
}

.pokt-text-input .pokt-text-input-copy svg {
  width: 20px;
  height: 20px;
}

.pokt-text:not(:last-child) {
  margin-bottom: 8px;
}

.pokt-text-delete {
  padding: 0 8px;
}

.pokt-text-delete svg {
  width: 20px;
  height: 20px;
}

.pokt-text-input .mantine-TextInput-rightSection {
  width: unset;
  margin-right: 12px;
}
