.pokt-faqs-view {
  margin-top: 48px;
  /* text-align: center; */
}

.pokt-faqs-view .faqs-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pokt-faqs-view .color-secondary-main {
  color: var(--mantine-color-blue-6);
}

.pokt-faqs-view .faqs-category {
  margin-bottom: 80px;
}

.pokt-faqs-view .faqs-category-title {
  text-transform: capitalize;
}

.pokt-faqs-view .faqs-item {
  padding: 32px;
  border-bottom: 1px solid var(--mantine-color-gray-8);
}

.pokt-faqs-view .faqs-item:last-child {
  border-bottom: none;
}

.pokt-faqs-view .faqs-item {
  color: var(--mantine-color-white);
}

.pokt-faqs-view .faqs-item button {
  padding: 16px;
}

.pokt-faqs-view .faqs-item button:hover {
  background-color: transparent;
}

.pokt-faqs-view .faqs-item .mantine-Accordion-label {
  font-size: 21px;
  color: var(--mantine-color-gray-4);
  transition: color ease-in-out 0.3s;
}

.pokt-faqs-view .faqs-item.mantine-Accordion-itemOpened .mantine-Accordion-label {
  color: var(--mantine-color-white);
}

.pokt-faqs-view .faqs-item button:hover .mantine-Accordion-label {
  color: var(--mantine-color-gray-0);
}

.pokt-faqs-view .faqs-item .mantine-Accordion-icon {
  color: var(--mantine-color-gray-4);
  background-color: var(--mantine-color-navy-4);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.pokt-faqs-view .faqs-item.mantine-Accordion-itemOpened .mantine-Accordion-icon {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-gray-8);
}

.pokt-faqs-view .faqs-item button:hover .mantine-Accordion-icon {
  color: var(--mantine-color-gray-0);
  background-color: var(--mantine-color-gray-8);
}
