.pokt-landing-footer .nav-title {
  font-weight: 700;
}

.pokt-landing-footer .nav-list {
  padding: 0;
  list-style-type: none;
}

.pokt-landing-footer .nav-list li {
  margin: 0;
}

.pokt-landing-footer .nav-link {
  display: block;
  padding: 8px 0;
  color: var(--color-white-dark);
  position: relative;
  transition: color ease-in-out 0.3s;
}

.pokt-landing-footer .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 2px;
  background-color: transparent;
  transition: background-color ease-in-out 0.3s;
}

.pokt-landing-footer .nav-link:hover {
  color: var(--color-primary-main);
}

.pokt-landing-footer .nav-link:hover:after {
  background-color: var(--color-primary-main);
}
