.pokt-app-endpoint-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.pokt-app-endpoint-url:not(:last-child) {
  margin-bottom: 8px;
}

.pokt-app-endpoint-url input {
  flex-grow: 1;
}

.pokt-app-endpoint-url-abbrv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 8px;
  border: 1px solid var(--color-white-main);
  border-radius: 4px;
  font-size: 0.5rem;
}
