.pokt-app-endpoint-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.pokt-app-endpoint-url:not(:last-child) {
  margin-bottom: 8px;
}

.pokt-app-endpoint-url input {
  flex-grow: 1;
  margin-bottom: 0;
}

.pokt-app-endpoint-url-delete {
  padding: 0 8px;
}

.pokt-app-endpoint-url-delete svg {
  width: 20px;
  height: 20px;
}
