.chains-nav {
  list-style-type: none;
  padding-left: 0;
}

.chains-nav .nav-link {
  display: block;
  padding: 8px;
}

.chains-nav .nav-link-active {
  color: var(--mantine-color-magenta-6);
}

.chains-nav .nav-link-active:hover {
  color: var(--mantine-color-magenta-8);
}
