.pokt-app-addresses .flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.pokt-app-addresses h3 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0;
}

.pokt-app-addresses .pokt-text {
  margin-bottom: 16px;
}

.pokt-app-addresses.no-hidden-apps .pokt-text:last-child {
  margin-bottom: 0;
}

.pokt-app-addresses .pokt-button {
  border-color: var(--color-secondary-main);
}

.pokt-app-addresses .pokt-button:hover {
  border-color: var(--color-secondary-dark);
}

.pokt-app-addresses .pokt-icon {
  fill: var(--color-white-main);
}
