.pokt-copy-text {
  width: 20px;
  height: 20px;
  color: var(--color-secondary-main);
  cursor: pointer;
}

.pokt-copy-text svg {
  width: 20px;
  height: 20px;
}

.pokt-copy-text.copyIconColor svg {
  fill: var(--color-white-main);
}
