.pokt-help {
  --tooltip-size: 16px;
  width: var(--tooltip-size);
  height: var(--tooltip-size);
}

.pokt-help button {
  border-radius: 100%;
  width: var(--tooltip-size);
  height: var(--tooltip-size);
  padding: 0;
}

.mantine-Tooltip-tooltip {
  text-align: left !important;
  white-space: break-spaces;
  max-width: 300px;
  color: var(--color-black-main);
  background-color: var(--color-white-main);
}
