.pokt-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-sm);
  /* move color to mantine: var(--mantine-color-blue-9) */
  background-color: rgb(25, 36, 48);
  color: white;
  min-height: 64px;
  padding: 48px 64px 16px 64px;
}

.pokt-footer nav {
  display: inherit;
  width: 100%;
}

.pokt-footer nav > div {
  padding-top: 16px;
  border-top: 1px solid var(--color-disabled-dark);
  width: 100%;
}

.pokt-footer nav > div > div {
  gap: 24px;
}

.pokt-footer span.vertical-split {
  height: 40px;
  width: 1px;
  border-right: 1px solid var(--color-disabled-dark);
}

.pokt-footer .mantine-Grid-root {
  width: 100%;
}

.pokt-footer .greenLink {
  color: var(--color-primary-main);
}

.pokt-footer .center {
  text-align: center;
  font-size: 12px;
}

.pokt-footer .right {
  text-align: right;
  padding-right: 40px;
  font-size: 9px;
}
