.sidebarNavLink {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-dark-0);
}

.sidebarNavLink:global(.active) {
  background-color: rgb(41, 41, 41);
  color: #ffffff;
}

.sidebarNavLink:hover {
  background-color: rgba(41, 41, 41, 0.5);
  text-decoration: none;
}
