.sidebarNavLink {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-dark-9);
}

.sidebarNavLink:hover {
  text-decoration: none;
  background-color: alpha(var(--mantine-color-dark-0), 0.5);
}

.sidebarNavLink:global(.active) {
  background-color: var(--mantine-color-dark-0);
}

@mixin dark-root {
  .sidebarNavLink {
    color: var(--mantine-color-dark-0);
  }

  .sidebarNavLink:global(.active) {
    background-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
  }

  .sidebarNavLink:hover {
    background-color: var(--mantine-hover-color);
  }
}
