.pokt-apps-view .pokt-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.mantine-Tabs-tabsListWrapper {
  border-bottom: 0;
}

.mantine-Tabs-tabLabel {
  color: var(--color-disabled);
}

.mantine-Tabs-tabActive .mantine-Tabs-tabLabel {
  color: var(--color-white-main);
}

.mantine-Tabs-tabControl {
  padding: 0;
  margin-right: 32px;
}

.mantine-Tabs-body .pokt-table-header {
  justify-content: end;
}

.mantine-Tabs-body .pokt-card {
  padding: 0;
  margin: 0;
}

.list__more-actions .pokt-dropdown-trigger {
  background-color: transparent;
  padding: 0 8px;
}

.apps-dropdown-accept-invite-form {
  margin: 0;
}
