.menuItem:hover {
  background-color: var(--mantine-hover-color);
}

.activeMenuItem {
  opacity: 1;
  background-color: var(--mantine-color-navy-0);
  color: var(--mantine-color-text);
}

@mixin dark-root {
  .activeMenuItem {
    background-color: var(--mantine-color-dark-4);
  }
}
