.radio-card-grid {
  margin: 0;
  padding: 24px 0 36px 0;
  align-items: stretch;
}

@media (min-width: 768px) {
  .radio-card-grid__col {
    padding: 0;
  }

  .radio-card-grid__col:not(:first-child) {
    padding-left: 16px;
  }
}

.radio-card-grid > .order-first {
  order: 0;
}
.radio-card-grid > :not(.order-first) {
  order: 1;
}

.radio-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  align-content: baseline;
  border-radius: 8px;
}

.radio-card .flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.radio-card > .mantine-Text-root {
  margin-top: 24px;
}

.radio-card label {
  font-size: 21px;
}

/* .radio-card p {
  color: var(--mantine-color-white);
}
*/

label.mantine-Radio-label {
  color: var(--mantine-color-white);
}
