.radio-card-grid {
  padding: 24px 0 36px 0;
  align-items: stretch;
}

.radio-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid var(--color-white-main);
  height: 100%;
  align-content: baseline;
  border-radius: 8px;
}

.radio-card .flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.radio-card.disabled {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.radio-card > .mantine-Text-root {
  margin-top: 24px;
}

.radio-card label {
  font-size: 21px;
}

.radio-card.active {
  border-color: var(--color-primary-main);
}

.radio-card p {
  color: var(--color-white-main);
}

label.mantine-Radio-label {
  color: var(--color-white-main);
}

.radio-card.disabled input[type="radio"] {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.radio-card.disabled label {
  color: var(--color-disabled);
}
