.radio-card-grid {
  padding: 16px 0 32px 0;
  align-items: stretch;
}

.radio-card-grid > .order-first {
  order: 0;
}
.radio-card-grid > :not(.order-first) {
  order: 1;
}

.radio-card-grid .radio-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  align-content: baseline;
  border-radius: 8px;
}

.radio-card-grid .radio-card .flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.radio-card-grid .radio-card.disabled {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.radio-card-grid .radio-card > .mantine-Text-root {
  margin-top: 16px;
  font-size: 0.875rem;
}

.radio-card-grid .radio-card label {
  font-size: 1.125rem;
}

.radio-card-grid .radio-card.active {
  border-color: var(--color-primary-main);
}

.radio-card-grid .radio-card p {
  color: var(--color-white-main);
}
*/ label.mantine-Radio-label {
  color: var(--mantine-color-white);
}

.radio-card-grid .radio-card.disabled input[type="radio"] {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.radio-card-grid .radio-card.disabled label {
  color: var(--color-disabled);
}
