.pokt-select {
  width: 100%;
}

.pokt-select input {
  padding: 8px;
  color: var(--color-white-main);
  background-color: var(--color-black-dark);
  border: 1px solid var(--color-black-light);
  border-radius: 4px;
  font-size: 0.75rem;
}

.pokt-select label {
  color: var(--color-white-main);
}

.pokt-select .mantine-Select-dropdown {
  padding: 8px;
  color: var(--color-white-main);
  background-color: var(--color-black-dark);
  border: 1px solid var(--color-black-light);
  border-radius: 4px;
  font-size: 0.75rem;
}

.pokt-select .mantine-Select-item {
  color: var(--color-white-main);
}

.pokt-select .mantine-Select-item.mantine-Select-hovered {
  color: var(--color-white-main);
  background-color: var(--color-black-main);
}
