:root {
  --dash-array: 1100;
  --loop-duration: "1800ms";
  --pause-duration: "400ms";
  --animation-function: "cubic-bezier(0.7, 0, 0.3, 1)";
}

@keyframes animGradient {
  0% {
    stroke-dashoffset: var(--dash-array);
  }
  60%,
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animMask {
  0%,
  10% {
    stroke-dashoffset: var(--dash-array);
  }
  90%,
  100% {
    stroke-dashoffset: 0;
  }
}

.pokt-animated-logo-outline {
  stroke-dasharray: var(--dash-array);
  stroke-dashoffset: var(--dash-array);
  animation-name: animMask;
  animation-duration: var(--loop-duration);
  animation-timing-function: var(--animation-function);
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.pokt-animated-logo-outline.gradient {
  animation-name: animGradient;
}

.pokt-animated-logo-outline.done {
  animation-play-state: paused;
}

.pokt-animated-logo-outline.gradient.end {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: none;
  transition: opacity var(--pause-duration) ease-out;
  opacity: 0;
}

.pokt-animated-logo-outline.gradient.end.done {
  opacity: 100;
}
