.pokt-network-summary .pokt-card {
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.pokt-network-summary-content {
  display: flex;
  flex-direction: column;
}

.pokt-network-summary-content h3 {
  color: rgb(137, 141, 146);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 32px;
}

.pokt-network-summary-content p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;
}

.pokt-network-summary-image {
  width: 86px;
  height: 90px;
}
