.notification-message {
  display: none;
}

.notification-message.active {
  display: flex;
}

.notification-message {
  position: relative;
  border-radius: 8px;
  background: linear-gradient(90deg, #104a64 0%, #1b2331 55.21%);
}

.notification-message.options {
  background: linear-gradient(90deg, #104a64 0%, #1b2331 55.21%);
}

.notification-message.info {
  background: linear-gradient(90deg, #104a64 0%, #1b2331 55.21%);
}

.notification-message.success {
  background: linear-gradient(90deg, #1b4109 0%, #1b2331 55.21%);
}

.notification-message.warning {
  background: linear-gradient(90deg, #816110 0%, #1b2331 55.21%);
}

.notification-message.error {
  background: linear-gradient(90deg, #641010 0%, #1b2331 55.21%);
}
