.pokt-table .pokt-table-overflow {
  width: 100%;
  overflow-x: auto;
}

.pokt-table form {
  width: 100%;
}

.pokt-table .pokt-table-header {
  margin-bottom: 16px;
}

.pokt-table .pokt-table-header h3 {
  margin: 0;
}

.pokt-table .pokt-table-header .pokt-table-search {
  max-width: 50%;
  width: 500px;
}

.pokt-table .pokt-table-header .pokt-table-search input {
  background-color: transparent;
}

.pokt-table thead tr {
  border-bottom: 1px solid rgb(9, 24, 40);
}

.pokt-table thead tr th {
  padding: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  border: none;
  color: rgb(29, 138, 237);
}

.pokt-table tbody tr {
  border-bottom: 1px solid rgb(9, 24, 40);
  transition: border-color 0.3s ease-in-out;
}
.pokt-table tbody tr:hover {
  border-color: var(--mantine-color-blue-6);
}

.pokt-table tbody tr td {
  padding: 16px 8px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.pokt-table tbody tr.empty {
  height: 55px;
}

.pokt-table .pokt-table-paginate {
  display: flex;
  justify-content: center;
}

.pokt-table-ellipsis {
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
