.pokt-banner .pokt-card {
  transition: padding ease-in-out 0.3s;
}

.pokt-banner.informational .pokt-card {
  border: 1px solid var(--mantine-color-blue-4);
}

.pokt-banner.error .pokt-card {
  border: 1px solid var(--mantine-color-red-6);
}

.pokt-banner.success .pokt-card {
  border: 1px solid var(--mantine-color-yellow-6);
}

.pokt-banner.warning .pokt-card {
  border: 1px solid var(--mantine-color-orange-6);
}

.pokt-banner button {
  font-weight: normal;
  color: var(--mantine-color-gray-4);
}

.pokt-banner .pokt-link {
  color: var(--mantine-color-green-6);
}
