.contact-sales-form-grid-col {
  margin-bottom: 16px;
}

.contact-sales-form-container .textarea {
  width: 100%;
  padding: 0.5rem 1.25rem;
  min-height: calc(5 * 16px);
  color: var(--mantine-color-gray-0);
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--mantine-color-white);
  resize: vertical;
}

.contact-sales-form-container .textarea::-webkit-resizer {
  background: url("/resizer.svg");
}

.contact-sales-form-container .label {
  display: inline-block;
  font-weight: 700;
  color: var(--mantine-color-gray-0);
  margin-bottom: 8px;
}

.contact-sales-form-container .label .required-field {
  color: var(--mantine-color-blue-6);
}

.contact-sales-form-container .input {
  border: 1px solid var(--mantine-color-gray-0);
  border-radius: 4px;
  width: 100%;
}

.contact-sales-form-container .input input {
  color: var(--mantine-color-gray-0);
  padding: 0.5rem 1.25rem;
}

.contact-sales-form-container .input input::placeholder,
.contact-sales-form-container .textarea::placeholder {
  color: var(--mantine-color-gray-6);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
}

.contact-sales-form-container .button-container {
  display: flex;
  justify-content: end;
}

.contact-sales-form-container .button {
  margin-top: 2rem;
  width: 214px;
  color: var(--mantine-color-navy-6);
}
