.pokt-nav {
  margin-left: 16px;
  overflow-x: auto;
}

.pokt-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokt-nav .nav-link {
  height: 100%;
  padding: 8px 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color ease-in-out 0.3s;
}

.pokt-nav .nav-link:hover {
  color: var(--color-white-dark);
}

.pokt-nav .nav-link-active {
  color: var(--color-primary-main);
}

.pokt-nav .nav-link-active:hover {
  color: var(--color-primary-dark);
}

.pokt-nav .nav-link .pokt-icon {
  width: 18px;
  height: 21px;
}

.pokt-nav.mobile {
  margin-left: 0;
}

.pokt-nav-dropdown > div > div > input {
  background-color: var(--color-black-main);
  color: var(--color-white-main);
  border-color: var(--color-white-main);
}
.pokt-nav-dropdown > div > div svg {
  color: var(--color-white-main) !important;
}
