.invite-new-user__form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.invite-new-user__form__buttons-container {
  display: inline-flex;
  gap: 16px;
}

.list__role {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__more-actions .pokt-dropdown-trigger {
  background-color: transparent;
  padding: 0 8px;
}

.notification-message.active {
  margin-bottom: 32px;
}

.confirmation-modal-content.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-modal-options button {
  padding: 12px 56.5px;
  font-weight: normal;
  border-radius: 8px;
  width: 182px;
  height: 52px;
}

.confirmation-modal-title,
.confirmation-modal-description {
  width: fit-content;
  max-width: 285px;
  line-height: 110%;
}

.confirmation-modal-options #cancel {
  border: 1px solid #fafafa;
}

.change-role-modal-options {
  width: 90%;
  display: flex;
  justify-content: start;
  margin-top: 3em;
}
