.invite-new-user__form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.invite-new-user__form .radio-card-grid {
  box-sizing: border-box;
  padding: 24px 0 24px 0;
}

.invite-new-user__form__buttons-container {
  display: inline-flex;
  gap: 16px;
}

.list__role {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__more-actions .pokt-dropdown-trigger {
  background-color: transparent;
}

.notification-message.active {
  margin-bottom: 32px;
}
