.pokt-landing-logos {
  width: fit-content;
  animation: slide 30s infinite linear;
}

.pokt-landing-logos .logo-wrapper {
  padding: 16px 64px;
  border-radius: 16px;
  border: 1px solid var(--color-disabled);
}
.pokt-landing-logos .logo {
  height: 40px;
}

@keyframes slide {
  0% {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(calc(-100% + 100vw + 100px), 0);
  }
  100% {
    transform: translate(-100px, 0);
  }
}
